name: Testing Release

on:
  pull_request:
    branches:
      - main

jobs:
  push_to_test_pypi:
    runs-on: ubuntu-latest
    outputs:
      dev_version: ${{ steps.current_version.outputs.dev_version }}
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'  # Ensure this matches your project's Python version

      - name: get current version
        id: current_version
        run: |
          PYPI_VERSION=$(pip index versions tradinghours | cut -d'(' -f2 | cut -d')' -f1 | sed 1q)
          NEW_VERSION=$(grep '__version__' src/tradinghours/__init__.py | cut -d '"' -f 2)
          echo "comparing $NEW_VERSION with $PYPI_VERSION"
          if [[ $NEW_VERSION == $PYPI_VERSION ]]; then
            echo "Version needs to be incremented."
            exit 1
          fi
          
          DEV_VERSION=${NEW_VERSION}rc${{github.run_number}}.dev${{github.run_attempt}}
          echo "::set-output name=dev_version::${DEV_VERSION}"
          
          echo "setting version to $DEV_VERSION"
          sed -i "s/$NEW_VERSION/$DEV_VERSION/" src/tradinghours/__init__.py

      - name: Install dependencies
        run: pip install flit

      - name: release to test pypi
        run: |
          export FLIT_USERNAME=__token__
          export FLIT_PASSWORD=${{ secrets.TEST_PYPI_TOKEN }}
          export FLIT_INDEX_URL=https://test.pypi.org/legacy
          flit publish

  test_from_test_pypi:
    needs: push_to_test_pypi
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'  # Ensure this matches your project's Python version

      - name: get from test pypi
        run: |
          DEV_VERSION=${{ needs.push_to_test_pypi.outputs.dev_version }}
          echo "$DEV_VERSION"
          while [ "$DEV_VERSION" != "$(pip index versions -i https://test.pypi.org/simple --pre tradinghours | cut -d'(' -f2 | cut -d')' -f1 | sed 1q)" ];\
            do echo not found yet, sleeping 5s; sleep 5s; done
          pip install tradinghours==$DEV_VERSION --extra-index-url https://test.pypi.org/simple/

      - name: run import tests
        run: |
          pip show tradinghours

          export TRADINGHOURS_TOKEN=${{ secrets.TEST_KEY }}

          tradinghours import
          tradinghours status --extended

          python -c "from tradinghours import Market, Currency; m = Market.get('XNYS'); m.list_holidays('2020-01-01', '2025-01-01');m.generate_phases('2024-01-01', '2024-01-04'); c = Currency.get('USD');c.list_holidays('2020-01-01', '2025-01-01');"

      - name: Check out code
        uses: actions/checkout@v2

      - name: run all tests
        run: |          
          pip install pytest pytest-mock

          export TRADINGHOURS_TOKEN=${{ secrets.TEST_KEY }}

          tradinghours status --extended
          
          pytest tests
