name: Testing and Coverage

on:
  pull_request:
    branches:
      - pre-release

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: pip install -e ".[dev]"

      - name: Install pytest-cov
        run: pip install pytest-cov

      - name: Set up test data
        run: |
          export TRADINGHOURS_TOKEN=${{ secrets.TEST_KEY }}
          tradinghours import 

      - name: Run Tests with Coverage (SQLite)
        run: pytest --cov=src/ tests

      - name: Report Coverage
        run: |
          coverage report
          coverage xml

  # Run Tests for MySQL and PostgreSQL
  databases:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.4
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: test_db
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

      postgres:
        image: postgres:15.8
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: test_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    strategy:
      matrix:
        db: [mysql, postgres]

    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          pip install pytest pytest-mock httpx fastapi
          pip install -e ".[${{ matrix.db }}]"

      - name: Wait for DB to be ready
        run: |
          if [ "${{ matrix.db }}" == "mysql" ]; then
            while ! mysqladmin ping -h "127.0.0.1" --silent; do
              sleep 1
            done
          elif [ "${{ matrix.db }}" == "postgres" ]; then
            while ! pg_isready -h "127.0.0.1" -U postgres; do
              sleep 1
            done
          fi

      - name: Set up test data
        run: |
          export TRADINGHOURS_TOKEN=${{ secrets.TEST_KEY }}
          if [ "${{ matrix.db }}" == "mysql" ]; then
            export TH_DB_URL=mysql+pymysql://root:root@127.0.0.1:3306/test_db
          elif [ "${{ matrix.db }}" == "postgres" ]; then
            export TH_DB_URL=postgresql://postgres:password@127.0.0.1:5432/test_db
          fi
          tradinghours import 

      - name: Run Tests (MySQL or PostgreSQL)
        run: |
          if [ "${{ matrix.db }}" == "mysql" ]; then
            export TH_DB_URL=mysql+pymysql://root:root@127.0.0.1:3306/test_db
          elif [ "${{ matrix.db }}" == "postgres" ]; then
            export TH_DB_URL=postgresql://postgres:password@127.0.0.1:5432/test_db
          fi
          pytest tests

  os-versions-api-levels:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        level: [full, no_currencies, only_holidays]

    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          pip install pytest pytest-mock httpx fastapi
          pip install -e .

      - name: Set up test data
        shell: bash
        run: |
          if [ "${{ matrix.level }}" = "full" ]; then
            TRADINGHOURS_TOKEN=${{ secrets.TEST_KEY }}
          elif [ "${{ matrix.level }}" = "no_currencies" ]; then
            TRADINGHOURS_TOKEN=${{ secrets.TEST_KEY_NO_CURRENCIES }}
          elif [ "${{ matrix.level }}" = "only_holidays" ]; then
            TRADINGHOURS_TOKEN=${{ secrets.TEST_KEY_HOLIDAYS_ONLY }}
          fi
          export TRADINGHOURS_TOKEN

          tradinghours import
          tradinghours status --extended

      - name: Run New Tests
        shell: bash
        run: |
          export API_KEY_LEVEL=${{ matrix.level }}
          pytest tests

  python-versions:
    runs-on: ubuntu-latest
    needs: coverage

    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: pip install -e ".[dev]"

      - name: Set up test data
        run: |
          export TRADINGHOURS_TOKEN=${{ secrets.TEST_KEY }}
          tradinghours import 

      - name: Run Tests
        run: pytest tests
